@{
    ViewBag.Title = "Email Confirmation | Marketo";
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Email Confirmation</h3>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Confirm Section Start -->
<section class="page-not-found section-b-space">
    <div class="container">
        <div class="row gx-md-2 gx-0 gy-md-0 gy-3">
            <div class="col-md-8 m-auto">
                <div class="page-image">
                    <img src="~/assets/images/inner-page/confirm-email.jpg" class="img-fluid blur-up lazyload" alt="email">
                </div>
            </div>

            <div class="col-md-8 mx-auto mt-md-5 mt-3">
                <div class="page-container pass-forgot">
                    <div>
                        <h2 style="text-transform: none;">Confirmation email has been sent! Please, confirm first to log in.</h2>
                        <p></p>
                        <a asp-controller="account" asp-action="login" class="btn btn-outline-info">
                            <i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Confirm Section End -->
