@{ 
    ViewBag.Title = "Checkout | Marketo";
}
<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Checkout</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->

<!-- Cart Section Start -->
<section class="section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-8">
                <h3 class="mb-3">Billing address</h3>
                <form class="needs-validation">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <label for="fname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="lname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                        </div>
                        <div class="col-md-6">
                            <label for="lname" class="form-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">@("@")</span>
                                <input type="text" class="form-control" placeholder="Username" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="example@example.com"
                                   required>
                        </div>

                        <div class="col-md-6">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" aria-describedby="emailHelp"
                                   placeholder="1234 Main St" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="address2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" id="address2" aria-describedby="emailHelp"
                                   placeholder="1234 Main St" required>
                        </div>

                        <div class="col-md-5">
                            <label for="validationCustom04" class="form-label">Country</label>
                            <select class="form-select custom-form-select" id="validationCustom04">
                                <option selected disabled value="">Choose...</option>
                                <option>United States</option>
                                <option>India</option>
                                <option>America</option>
                                <option>South America</option>
                                <option>Dubai</option>
                                <option>Hong Kong</option>
                                <option>Indonesia</option>
                                <option>Pakistan</option>
                                <option>Saudi Arabia</option>
                                <option>China</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom04" class="form-label">State</label>
                            <select class="form-select custom-form-select" id="validationCustom05">
                                <option selected disabled value="">Choose...</option>
                                <option>Bhutan</option>
                                <option>Burundi</option>
                                <option>Comoros</option>
                                <option>Dilhi</option>
                                <option>Mumbai</option>
                                <option>Surat</option>
                                <option>Abu & Ambaji</option>
                                <option>Japan</option>
                                <option>Cuba</option>
                                <option>Zambia</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="zip" aria-describedby="emailHelp"
                                   placeholder="1234 Main St">
                        </div>
                    </div>
                    <div class="form-check ps-0 mt-3 custom-form-check">
                        <input class="checkbox_animated check-it" type="checkbox" id="flexCheckDefault11">
                        <label class="form-check-label checkout-label" for="flexCheckDefault11">
                            Save this
                            information for next time
                        </label>
                    </div>

                    <hr class="my-lg-5 my-4">

                    <h3 class="mb-3">Payment</h3>

                    <div class="d-block my-3">
                        <div class="form-check custom-radio-box">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="credit">
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>

                        <div class="form-check custom-radio-box">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="debit">
                            <label class="form-check-label" for="debit">Debit card</label>
                        </div>

                        <div class="form-check custom-radio-box">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="paypal">
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="cc-name">
                            <div id="emailHelp" class="form-text">Full name as displayed on card</div>
                        </div>
                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" required="">
                            <div class="invalid-feedback">Credit card number is required</div>
                        </div>
                        <div class="col-md-3">
                            <label for="expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control" id="expiration">
                        </div>
                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv">
                        </div>
                    </div>
                    <button class="btn btn-solid-default mt-4" type="submit">
                        Continue
                        to checkout
                    </button>
                </form>
            </div>

            <div class="col-lg-4">
                <div class="your-cart-box">
                    <h3 class="mb-3 d-flex text-capitalize">
                        Your cart<span class="badge bg-theme new-badge rounded-pill ms-auto bg-dark">3</span>
                    </h3>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Product name</h6>
                                <small>Brief description</small>
                            </div>
                            <span>$12</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Second product</h6>
                                <small>Brief description</small>
                            </div>
                            <span>$8</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Third item</h6>
                                <small>Brief description</small>
                            </div>
                            <span>$5</span>
                        </li>
                        <li class="list-group-item d-flex lh-condensed justify-content-between">
                            <span class="fw-bold">Total (USD)</span>
                            <strong>$25</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->
