@model List<ShoppingCartVM>
@{
    ViewBag.Title = "Shopping Cart | Marketo";
    double total = Model.Sum(x => x.Price * x.Count);
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Shopping Cart</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Cart Section Start -->
<section class="cart-section section-b-space">
    <div class="container">
        <div id="shoppingcart-table">

            @await Html.PartialAsync("_CartTablePartial", Model)

        </div>
    </div>
</section>
<!-- Cart Section End -->