<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/manage/assets/img/favicon.png" rel="icon">
    <link href="~/manage/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/manage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/manage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/manage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/manage/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/manage/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/manage/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/manage/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    @RenderSection("CSS", required: false)

    <!-- Template Main CSS File -->
    <link href="~/manage/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-area="manage" asp-controller="dashboard" asp-action="index" class="logo d-flex align-items-center">
                <img src="~/manage/assets/img/logo.png" />
                <span class="d-none d-lg-block">Marketo</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
                    </a>
                    <!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile p-0">

                        <li>
                            <a asp-area="" asp-controller="home" asp-action="index" target="_blank" class="dropdown-item d-flex align-items-center">
                                <i class="bi bi-globe2"></i>
                                <span>Go to website</span>
                            </a>
                            <a asp-area="manage" asp-controller="account" asp-action="logout" class="dropdown-item d-flex align-items-center">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Log out</span>
                            </a>
                        </li>

                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->

            </ul>
        </nav>
        <!-- End Icons Navigation -->

    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="dashboard" asp-action="index">
                    <i class="bi bi-house-door"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="setting" asp-action="index">
                    <i class="bi bi-layout-wtf"></i>
                    <span>Settings</span>
                </a>
            </li>
            <!-- End Settings Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="servicepolicy" asp-action="index">
                    <i class="bi bi-lightbulb"></i>
                    <span>Service Policies</span>
                </a>
            </li>
            <!-- End Service Policies Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="brand" asp-action="index">
                    <i class="bi bi-briefcase"></i>
                    <span>Brands</span>
                </a>
            </li>
            <!-- End Brands Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="specialtype" asp-action="index">
                    <i class="bi bi-bookmarks"></i>
                    <span>Special Types</span>
                </a>
            </li>
            <!-- End Special Types Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="product" asp-action="index">
                    <i class="bi bi-handbag-fill"></i>
                    <span>Products</span>
                </a>
            </li>
            <!-- End Products Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="order" asp-action="index">
                    <i class="bi bi-box-seam"></i>
                    <span>Orders</span>
                </a>
            </li>
            <!-- End Orders Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="adsbanner" asp-action="index">
                    <i class="bi bi-badge-ad"></i>
                    <span>Ads Banners</span>
                </a>
            </li>
            <!-- End Ads Banners Nav -->

            <li class="nav-heading">Static Tables</li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="feature" asp-action="index">
                    <i class="bi bi-toggles"></i>
                    <span>Features</span>
                </a>
            </li>
            <!-- End Features Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="colour" asp-action="index">
                    <i class="bi bi-app-indicator"></i>
                    <span>Colours</span>
                </a>
            </li>
            <!-- End Colours Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="display" asp-action="index">
                    <i class="bi bi-terminal"></i>
                    <span>Displays</span>
                </a>
            </li>
            <!-- End Displays Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="powersource" asp-action="index">
                    <i class="bi bi-battery-charging"></i>
                    <span>Power Sources</span>
                </a>
            </li>
            <!-- End Power Sources Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="tag" asp-action="index">
                    <i class="bi bi-hash"></i>
                    <span>Tags</span>
                </a>
            </li>
            <!-- End Tags Nav -->

            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="blog" asp-action="index">
                    <i class="bi bi-stickies"></i>
                    <span>Blogs</span>
                </a>
            </li>
            <!-- End Blog Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="faq" asp-action="index">
                    <i class="bi bi-question-circle"></i>
                    <span>FAQ</span>
                </a>
            </li>
            <!-- End FAQ Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="contact" asp-action="index">
                    <i class="bi bi-envelope"></i>
                    <span>Contact</span>
                </a>
            </li>
            <!-- End Contact Nav -->

            @*<li class="nav-item">
                <a class="nav-link collapsed" asp-area="manage" asp-controller="user" asp-action="index">
                    <i class="bi bi-people"></i>
                    <span>Users</span>
                </a>
            </li>*@
            <!-- End Contact Nav -->

        </ul>

    </aside>
    <!-- End Sidebar-->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
            <br>
            Developed by <a href="https://www.facebook.com/quliyev039/" target="_blank">Kamil Guliyev</a>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Vendor JS Files -->
    <script src="~/manage/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/manage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/manage/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/manage/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/manage/assets/vendor/quill/quill.min.js"></script>
    <script src="~/manage/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/manage/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/manage/assets/vendor/php-email-form/validate.js"></script>

    @RenderSection("JS", required: false)

    <!-- Template Main JS File -->
    <script src="~/manage/assets/js/main.js"></script>

</body>

</html>