@model OrderVM
@{
    ViewBag.Title = "Checkout | Marketo";
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Checkout</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->

<!-- Cart Section Start -->
<section class="section-b-space">
    <div class="container">
        <div class="row justify-content-center g-4">
            <div class="col-lg-8">
                <h3 class="mb-3">Billing address</h3>
                @await Html.PartialAsync("_CheckoutFormPartial", Model)
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->
