@{
    ViewBag.Title = "Marketo | Wishlist";
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Wishlist</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->

<!-- Cart Section Start -->
<section class="wish-list-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table cart-table wishlist-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">availability</th>
                            <th scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="product.html">
                                    <img src="~/assets/images/products/9.jpg" class=" blur-up lazyload" alt="product">
                                </a>
                            </td>
                            <td>
                                <a href="product.html" class="font-light">Yellow Jacket</a>
                                <div class="mobile-cart-content row">
                                    <div class="col">
                                        <p>In Stock</p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">$48.23</p>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">
                                            <a href="javascript:void(0)" class="icon">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </h2>
                                        <h2 class="td-color">
                                            <a href="cart.html" class="icon">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-bold">$68.65</p>
                            </td>
                            <td>
                                <p>In Stock</p>
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="icon">
                                    <i class="fas fa-times"></i>
                                </a>
                                <a href="cart.html" class="icon">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <a href="product.html">
                                    <img src="~/assets/images/products/1.jpg" class=" blur-up lazyload" alt="product">
                                </a>
                            </td>
                            <td>
                                <a href="product.html" class="font-light">Blue Jeans Shut</a>
                                <div class="mobile-cart-content row">
                                    <div class="col">
                                        <p>In Stock</p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">$48.23</p>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">
                                            <a href="javascript:void(0)" class="icon">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </h2>
                                        <h2 class="td-color">
                                            <a href="cart.html" class="icon">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-bold">$63.00</p>
                            </td>
                            <td>
                                <p>In Stock</p>
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="icon">
                                    <i class="fas fa-times"></i>
                                </a>
                                <a href="cart.html" class="icon">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <a href="product.html">
                                    <img src="~/assets/images/products/8.jpg" class=" blur-up lazyload" alt="product">
                                </a>
                            </td>
                            <td>
                                <a href="product.html" class="font-light">
                                    Miliatary Print Winter
                                    Jacket
                                </a>
                                <div class="mobile-cart-content row">
                                    <div class="col">
                                        <p>Out Of Stock</p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">$68.65</p>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">
                                            <a href="javascript:void(0)" class="icon">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </h2>
                                        <h2 class="td-color">
                                            <a href="cart.html" class="icon">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-bold">$63.00</p>
                            </td>
                            <td>
                                <p>Out Of Stock</p>
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="icon">
                                    <i class="fas fa-times"></i>
                                </a>

                                <a href="cart.html" class="icon">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->