@{
    ViewBag.Title = "Marketo | Admin Dashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Date -->
                    <div class="col-xxl-6 col-md-6">

                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Date</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar2-event"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="today"></h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <script>
                            function checkTime(i) {
                                if (i < 10) {
                                    i = "0" + i;
                                }
                                return i;
                            }

                            function showDate() {
                                var date = new Date();

                                var day = date.getDate(); // 0-31
                                var month = date.getMonth() + 1; // 0-12
                                var year = date.getFullYear();

                                day = checkTime(day);
                                month = checkTime(month);

                                var today = day + "." + month + "." + year;
                                document.getElementById("today").innerText = today;
                                document.getElementById("today").textContent = today;

                                setTimeout(showDate, 1000);
                            }

                            showDate();
                        </script>

                    </div>
                    <!-- End Date Card -->
                    <!-- Time -->
                    <div class="col-xxl-6 col-md-6">

                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Time</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clock"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="time"></h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <script>
                            function checkTime(i) {
                                if (i < 10) {
                                    i = "0" + i;
                                }
                                return i;
                            }

                            function showTime() {
                                var date = new Date();

                                var hour = date.getHours(); // 0 - 23
                                var minute = date.getMinutes(); // 0 - 59
                                var second = date.getSeconds(); // 0 - 59

                                hour = checkTime(hour);
                                minute = checkTime(minute);
                                second = checkTime(second);

                                var time = hour + ":" + minute + ":" + second;
                                document.getElementById("time").innerText = time;
                                document.getElementById("time").textContent = time;

                                setTimeout(showTime, 1000);
                            }

                            showTime();
                        </script>

                    </div>
                    <!-- End Time Card -->
                    <!--Flag Map-->
                    <div class="col-12">
                        <div class="card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="">
                                    <li class="dropdown-header text-start">
                                        <h6>Map Size</h6>
                                    </li>

                                    <li><a class="dropdown-item map-size" href="#" id="t">Tiny</a></li>
                                    <li><a class="dropdown-item map-size" href="#" id="s">Small</a></li>
                                    <li><a class="dropdown-item map-size" href="#" id="m">Medium</a></li>
                                    <li><a class="dropdown-item map-size" href="#" id="l">Large</a></li>
                                </ul>
                            </div>
                            <div class="card-body pb-0">
                                <h5 class="card-title">Flag Map <span>| FlagCounter</span></h5>

                                <div class="echart" style="min-height: 400px;">
                                    <a href="https://info.flagcounter.com/ydqm" target="_blank">
                                        <img src="https://s01.flagcounter.com/map/ydqm/size_s/txt_000000/border_CCCCCC/pageviews_0/viewers_3/flags_0/" alt="Flag Counter" border="0" id="flag-map">
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--End Flag Map-->

                </div>
            </div>
            <!-- End Left side columns -->
            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Website Traffic -->
                <div class="card">

                    <div class="card-body pb-0">
                        <h5 class="card-title">Website Traffic <span>| FlagCounter</span></h5>

                        <div style="min-height: 500px;" class="echart">
                            <a href="https://info.flagcounter.com/ydqm" target="_blank" class="d-block">
                                <img src="https://s01.flagcounter.com/count2/ydqm/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_30/viewers_3/labels_1/pageviews_0/flags_0/percent_0/" alt="Visitors" width="100%">
                            </a>
                            <div class="d-flex justify-content-between">
                                <a href="https://info.flagcounter.com/ydqm" target="_blank" class="d-block">
                                    <img src="https://s01.flagcounter.com/mini/ydqm/bg_FFFFFF/txt_000000/border_CCCCCC/flags_1/" alt="Flag Counter" border="0">
                                </a>
                                <a href="https://info.flagcounter.com/ydqm" target="_blank" class="d-block">
                                    <img src="https://s01.flagcounter.com/mini/ydqm/bg_FFFFFF/txt_000000/border_CCCCCC/flags_0/" alt="Flag Counter" border="0">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Website Traffic -->

            </div>
            <!-- End Right side columns -->

        </div>
    </section>

</main>
<!-- End #main -->

@section JS {
    <script>
        $(document).ready(function () {
            $(".map-size").on("click", function (e) {
                e.preventDefault();

                var size = $(this).attr("id");

                var link = $('#flag-map').attr('src');

                if (link.includes("size_t")) {
                    var link = link.replace("size_t", `size_${size}`);
                } else if (link.includes("size_s")) {
                    var link = link.replace("size_s", `size_${size}`);
                } else if (link.includes("size_m")) {
                    var link = link.replace("size_m", `size_${size}`);
                } else if (link.includes("size_l")) {
                    var link = link.replace("size_l", `size_${size}`);
                }

                $('#flag-map').attr('src', link);
            });
        });
    </script>
}
