@model Contact

<form method="post" asp-controller="contact" asp-action="contactmessage">
    <div class="row g-4 mt-md-1 mt-2">
        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" value="" required>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" value="" required>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" value="" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-12">
            <label asp-for="Message" class="form-label"></label>
            <textarea asp-for="Message" class="form-control" rows="5" value="" required></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

        <div class="col-auto">
            <button class="btn btn-solid-default" type="submit">Send message</button>
        </div>
    </div>
</form>

@section JS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
