@model LoginVM

<form method="post" autocomplete="off">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="input">
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" required>
        <span class="spin"></span>
    </div>

    <div class="input">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" required>
        <span class="spin"></span>
    </div>

    <a asp-controller="account" asp-action="forgot" class="pass-forgot">Forgot your password?</a>

    <div class="button login">
        <button type="submit">
            <span>Log In</span>
            <i class="fa fa-check"></i>
        </button>
    </div>
</form>
