@{
    ViewBag.Title = "Marketo | FAQ";
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12 search-section">
                <h3>Frequently Asked Questions</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->

<!-- FAQ details start -->
<section class="faq-details section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="faq-link-box">
                    <ul>
                        <li>
                            <a href="#1">
                                <h4>1.</h4>
                                <h5>How does it work?</h5>
                            </a>
                        </li>
                        <li>
                            <a href="#2">
                                <h4>2.</h4>
                                <h5>Another very important question in FAQ?</h5>
                            </a>
                        </li>
                        <li>
                            <a href="#3">
                                <h4>3.</h4>
                                <h5>Another important quesstion in FAQ?</h5>
                            </a>
                        </li>
                        <li>
                            <a href="#4">
                                <h4>4.</h4>
                                <h5>Another question in FAQ?</h5>
                            </a>
                        </li>
                        <li>
                            <a href="#5">
                                <h4>5.</h4>
                                <h5>Another very important question in FAQ?</h5>
                            </a>
                        </li>
                        <li>
                            <a href="#6">
                                <h4>6.</h4>
                                <h5>Another question in FAQ?</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="faq-heading" id="1">
                    <i data-feather="help-circle" class="theme-color"></i>
                    <div class="faq-option">
                        <h3>How does it work?</h3>
                        <h6 class="font-light">
                            When choosing a static caravan you will probably look for the holiday
                            park which meets
                            your requirements and the move onto the caravan selection the right holiday park is
                            vital to ensure a long term ownership.
                        </h6>
                    </div>
                </div>

                <div class="faq-heading" id="2">
                    <i data-feather="help-circle" class="theme-color"></i>
                    <div class="faq-option">
                        <h3>Another very important question in FAQ?</h3>
                        <h6 class="font-light">
                            Now for yhe caravan and looking for the right caravan to suit your
                            needs. Most of the
                            parks will deal with majority of the manufactures. If buying directly from the park you
                            will probably deal with a salesperson instead of direct with the manufactures. You Can
                            collect brochures direct from the manufactures. you can collect brochures direct from
                            the manufactures to research all the models and specifications which will not only
                            ensure you choose the correct model but also help you to understand what to look for and
                            choice of different modals. To see the caravan you can vixit them at key caravan
                            exhibitions as most top manufactures will display there, see events.
                        </h6>
                    </div>
                </div>

                <div class="faq-heading" id="3">
                    <i data-feather="help-circle" class="theme-color"></i>
                    <div class="faq-option">
                        <h3>Another important quesstion in FAQ?</h3>
                        <h6 class="font-light">
                            The static holiday caravan has been designed for holiday use instead
                            of full time
                            living. With its modern construction and use of high quality materials the static
                            caravan should be built to British and European standard: BS EN 1647 but some luxury
                            caravans are built to BS 3632 confirming to residential standards.
                        </h6>
                    </div>
                </div>

                <div class="faq-heading" id="4">
                    <i data-feather="help-circle" class="theme-color"></i>
                    <div class="faq-option">
                        <h3>Another question in FAQ?</h3>
                        <h6 class="font-light">
                            Normal static caravan can come in either one or two sectiond with
                            width up to 22ft and
                            60ft long. If you have a one piece model this is a single unit and the two piece is
                            known as a twin and usually assembled on site.
                        </h6>
                    </div>
                </div>

                <div class="faq-heading" id="5">
                    <i data-feather="help-circle" class="theme-color"></i>
                    <div class="faq-option">
                        <h3>Another very important question in FAQ?</h3>
                        <h6 class="font-light">
                            Decide on how many bedrooms you require as most caravans can be from
                            2 to 4 bedrooms but
                            up to eight berths. manufactures will normally have their own layout but will offer but
                            will a number of ranges depending on your budget.
                        </h6>
                    </div>
                </div>

                <div class="faq-heading" id="6">
                    <i data-feather="help-circle" class="theme-color"></i>
                    <div class="faq-option">
                        <h3>Another question in FAQ?</h3>
                        <h6 class="font-light">
                            The static holiday caravan has been designed for holiday use instead
                            of full time
                            living. With its modern construction and use of high quality materials the static
                            caravan should be built to British and European standard: BS EN 1647 but some luxury
                            caravans are built to BS 3632 confirming to residential standards.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ details end -->
