@{
    ViewBag.Title = "Error 404 | Marketo";
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Page Not Found - ERROR 404</h3>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- 404 Section Start -->
<section class="page-not-found section-b-space">
    <div class="container">
        <div class="row gx-md-2 gx-0 gy-md-0 gy-3">
            <div class="col-md-8 m-auto">
                <div class="page-image">
                    <img src="~/assets/images/inner-page/404.gif" class="img-fluid blur-up lazyload" alt="404">
                </div>
            </div>

            <div class="col-md-8 mx-auto mt-md-5 mt-3">
                <div class="page-container pass-forgot">
                    <div>
                        <h2>Page not found</h2>
                        <p>
                            The page you are looking for doesn't exist or an other error occurred. Go back, or head
                            over to choose a new direction.
                        </p>
                        <a href="javascript:history.back();" class="btn btn-outline-info">
                            <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Go back
                        </a>
                        <a asp-controller="home" asp-action="index" class="btn btn-outline-info m-1">
                            <i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;Home Page
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 404 Section End -->
