@{
    ViewBag.Title = "Marketo | Compare List";
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Compare list</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Compare list</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Compare Section Start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="comparemodal-body">
                    <div class="table-wrapper table-responsive ratio_asos">
                        <table class="table table-striped-1">
                            <tbody>
                                <tr class="table-product-details">
                                    <td></td>

                                    <td>
                                        <div class="product-box">
                                            <div class="product-image">
                                                <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                    <img src="~/assets/images/products/1.jpg"
                                                         class="img-fluid bg-img blur-up lazyload" alt="product">
                                                </a>
                                            </div>
                                            <div class="product-details">
                                                <div>
                                                    <a href="javascript:void(0)">
                                                        <h6 class="fw-bold">
                                                            Jockey Men's Regular Fit
                                                            T-Shirt
                                                        </h6>
                                                    </a>
                                                </div>

                                                <div class="price-details mt-2">
                                                    <h6 class="font-green">
                                                        $25.59
                                                        <span class="font-light mx-2">$89.99</span>
                                                        <span class="theme-color">20% off</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="product-box">
                                            <div class="product-image">
                                                <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                    <img src="~/assets/images/products/8.jpg"
                                                         class="img-fluid bg-img blur-up lazyload" alt="product">
                                                </a>
                                            </div>
                                            <div class="product-details">
                                                <div>
                                                    <a href="javascript:void(0)">
                                                        <h6 class="fw-bold">
                                                            Columbia Men's Synthetic
                                                            Jacket
                                                        </h6>
                                                    </a>
                                                </div>

                                                <div class="price-details mt-2">
                                                    <h6 class="font-green">
                                                        $65.25
                                                        <span class="font-light mx-2">$70.65</span>
                                                        <span class="theme-color">40% off</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="product-box">
                                            <div class="product-image">
                                                <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                    <img src="~/assets/images/products/9.jpg"
                                                         class="img-fluid bg-img blur-up lazyload" alt="product">
                                                </a>
                                            </div>
                                            <div class="product-details">
                                                <div>
                                                    <a href="javascript:void(0)">
                                                        <h6 class="fw-bold">Columbia Men's Jacket</h6>
                                                    </a>
                                                </div>

                                                <div class="price-details mt-2">
                                                    <h6 class="font-green">
                                                        $98.99
                                                        <span class="font-light mx-2">$109.50</span>
                                                        <span class="theme-color">30% off</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="product-box">
                                            <div class="product-image">
                                                <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                    <img src="~/assets/images/products/1-300x300.jpg"
                                                         class="img-fluid bg-img blur-up lazyload" alt="product">
                                                </a>
                                            </div>
                                            <div class="product-details">
                                                <div>
                                                    <a href="javascript:void(0)">
                                                        <h6 class="fw-bold">Columbia</h6>
                                                    </a>
                                                </div>

                                                <div class="price-details mt-2">
                                                    <h6 class="font-green">
                                                        $80.00
                                                        <span class="font-light mx-2">$40.00</span>
                                                        <span class="theme-color">50% off</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-cart-button">
                                    <td></td>
                                    <td>
                                        <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                    </td>
                                    <td>
                                        <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                    </td>
                                    <td>
                                        <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                    </td>
                                    <td>
                                        <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                    </td>
                                </tr>

                                <tr>
                                    <td>Customer Rating</td>
                                    <td>
                                        <div class="d-flex align-items-center my0">
                                            <ul class="rating my-0">
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>

                                            <span class="font-light ms-2">(22 reviews)</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center my0">
                                            <ul class="rating my-0">
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>

                                            <span class="font-light ms-2">(17 reviews)</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center my0">
                                            <ul class="rating my-0">
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                            </ul>

                                            <span class="font-light ms-2">(5 reviews)</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center my0">
                                            <ul class="rating my-0">
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star theme-color"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>

                                            <span class="font-light ms-2">(26 reviews)</span>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>BRAND</td>
                                    <td>Zara</td>
                                    <td>Allen Solly</td>
                                    <td>H&M</td>
                                    <td>Nike</td>

                                </tr>

                                <tr>
                                    <td>Generic Name</td>
                                    <td>T-Shirt</td>
                                    <td>Shirt</td>
                                    <td>Jackets</td>
                                    <td>Blazers</td>
                                </tr>

                                <tr>
                                    <td>Department</td>
                                    <td>Men</td>
                                    <td>Men</td>
                                    <td>Men</td>
                                    <td>Men</td>
                                </tr>

                                <tr>
                                    <td>Manufacturer</td>
                                    <td>PAGE INDUSTRIES LIMITED</td>
                                    <td>PAGE INDUSTRIES LIMITED</td>
                                    <td>Shreenath Lifestyle Pvt. Ltd.</td>
                                    <td>Shreenath Lifestyle Pvt. Ltd.</td>
                                </tr>

                                <tr>
                                    <td>color</td>
                                    <td>Black, Yellow, Marron</td>
                                    <td>Blue, Cream, Black</td>
                                    <td>Military Color</td>
                                    <td>Black, Gold</td>
                                </tr>

                                <tr>
                                    <td>Date First Available</td>
                                    <td>28 July 2015</td>
                                    <td>25 March 2021</td>
                                    <td>25 February 2017</td>
                                    <td>27 April 2021</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Compare Section End -->